*{
  box-sizing: border-box;
}
.wrapper{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    width: 80%;
    font-size: large;
}
.divider{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider span{
  width: 15px;
  height: 15px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

  